.app{
  color:purple;
  text-decoration: dotted;
  text-shadow: 1cm;
  box-shadow: 1cqi;
  background: -webkit-linear-gradient();
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: larger;
  scroll-padding-inline: 10;
  padding: 10px;
}